/* The following block can be included in a custom.scss */

/* make the customizations */
// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

body {
    // background-image: url(./static/images/background.jpg);
}

.mainContainer {
    background-image: url(./components/static/images/background.jpg);
    background-color: black;
    background-size:cover;
    color: white;
    height: 100%;
    min-height: 800px;
}

.navlink {
    display:flexbox;
    color: peachpuff;
    margin: 0px 40px;
    a {
        text-decoration: none;
        color: peachpuff;
    }
    a:hover {
        text-decoration: none;
        color: rgb(35, 149, 194);
    }
  }

.carousel-inner {
    width: 400px;
}

.about {
    background-color: rgba(12, 11, 14, 0.694);
    margin: 50px 20px;
    padding: 20px;
    border-radius: 5px;   
}

.rounded-circle {
    margin: 50px 20px;
}