/* The following block can be included in a custom.scss */

/* make the customizations */
// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

// body {
//     // background-image: url(./static/images/background.jpg);
// }
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

.mainContainer {
    background-image: url(./components/static/images/background.jpg);
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    height: 100%;
    min-height: 800px;
}

.navlink {
    display:flexbox;
    color: peachpuff;
    margin: 0px 20px;
    a {
        text-decoration: none;
        color: peachpuff;
    }
    a:hover {
        text-decoration: none;
        color: rgb(35, 149, 194);
    }
  }
  .navbar-brand {
    margin: 0px 0px 0px 20px;
}

  .icons {
      color: white;
  }

.about {
    background-color: rgba(45, 152, 179, 0.778);
    color: peachpuff;
    margin: 50px 0px 0px 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px;
    padding: 30px;
    text-align: center;
    align-self: left;
}

.aboutrow {
    background-color:rgba(45, 152, 179, 0.9);
}
.rounded-circle {
    margin: 40px 10px 40px 10px;
}

.glyphs {
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 4px;
    margin: 5px;
    float: right;
    .icons {
        
        margin: 0px 5px;
        background: white;
        border-radius: 5px;
        border-color: black;
        border: solid;
    }
}

.description{
    align-content: center;
    text-align: center;
}

.carousel {
     display: flex;
    justify-self: center;
    width: 600px;
    max-width: 600px;
    // background-color: black;

    .carousel-inner {
        width: 600px;
        max-width: 600px;
        justify-self: center;
        justify-content: center;
        border-style: solid;
        border-color: rgba(45, 152, 179, 0.9);
        border-radius: 5px;
        border-width: 15px;
    }
    .carousel-indicators {
        max-width: 600px;
    }
    .carousel-control-next {
    left: 65%;
    }
    .carousel-control-prev {
        left: 20%;
    }
}

.card {
    color: black;
    height: 450px;
    width: 500px;
    margin: 20px 0px 20px 10px;
    .card-img-top {
        height: 400px;
    }
}

.titles {
    display: flex;
    justify-content: center;
    background-color: rgba(12, 11, 14, 0.694);
}

.skillContainer {
    background-color: rgba(45, 152, 179, 0.9);
    color: peachpuff;
    margin: 50px 0px 50px 0px;
    height: 100px;
    text-align: center;
}

h2 {
    color: white;
}

.img-thumbnail {
    background-color:rgb(35, 149, 194);
    border: 1px solid rgb(35, 149, 194);
}